@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;500;700&family=Montserrat:wght@100;300;400;500;800&family=Raleway:ital,wght@0,200;1,300&family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    
    
 
}
@media only screen and (max-width: 480px) {
    /* Estilos para dispositivos móveis pequenos */
        body {
          display: flex;
          flex-direction: column;
    
        }
        
        header {
          font-size: 16px;
          padding: 0;
          justify-content: left;
          padding-left: 30px;
        }
      
      
ul{
    padding: 0px;
    padding-inline-start: 10px;
    padding-right: 45px;
    column-gap: 30px;
    padding-bottom: 31px;
    margin: auto;

}

header>ul>a{
    padding: 0px;
    margin: auto;
}
main{
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}   

div.left{
    width: 100%;
    row-gap: 20px;
    height: auto;
}
div.port>ul>li{
    display:none;
    
}
ul#icones-sociais{
    float: left;
    font-size: 1.4rem;
    color:black;
    padding-left: 40px;

}
ul#icones-sociais>a>i{
    font-size: 1.9rem;
    text-decoration: none;
}
div.left>h1{
    margin: auto;
    margin-bottom: 10px;
    font-weight: bolder;
    row-gap: 10px;
}
div.left>h2{
    width: 70%;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    padding-top: 10px;
}

div.left>a{
    width: 250px;
    margin: auto;
}
div.right{
    width: 70%;
    margin: auto;
    margin-top: 80px;
}


div.titulo>h1{
height: 73px;
text-align: center;

}
div.apresentacao{
    height: auto;
    padding-top: 35px;
    padding-bottom: 30px;
}

div.port>h1#tela-grande{
    display: none;
    

}
div.port>a.acesso-portifolios{
    display: flex;
    flex-direction: row;
    color: black;
    position: relative;
    padding: 20px;
    background-color:#F1D302 ;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 2px 10px 12px 2px rgba(0, 0, 0, 0.226);
}
div.port>a.acesso-portifolios:hover{
    background-color: black;
    color: #F1D302;
}
div.port>a>button{
    width: 150px;
    height: 50px;
}
div.port{
    row-gap: 5vh;
}
}
